os: linux
dist: bionic
sudo: required
compiler: clang

matrix:
  fast_finish: true
  include:
    - language: python
      python: 3.7
    - language: python
      python: 3.6
    - language: c++
      dist: bionic
      compiler: clang

install:
  - sudo apt-get install -y libgnutls28-dev libcurl4-gnutls-dev
  - sudo apt-get install -y protobuf-compiler-grpc libprotobuf-dev libgrpc++-dev
  - sudo apt-get install -y libmicrohttpd-dev
  - wget https://github.com/fmtlib/fmt/releases/download/6.0.0/fmt-6.0.0.zip
  - unzip fmt-6.0.0.zip
  - mkdir -p fmt-6.0.0/build
  - pushd fmt-6.0.0/build
  - cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=OFF -DBUILD_SHARED_LIBS=ON
  - sudo make install -j2
  - popd

script:
    - if [[ -n "${TRAVIS_PYTHON_VERSION+1}" ]]; then
        pushd core/ingestion/scan &&
        pip install -r requirements-dev.txt &&
        python setup.py test && popd;
        pushd core/ingestion/upload &&
        pip install -r requirements-dev.txt &&
        python setup.py test && popd;
      fi

    - if [[ -z $TRAVIS_PYTHON_VERSION ]]; then
        mkdir build &&
        pushd build &&
        cmake ../core -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON &&
        make &&
        ctest --output-on-failure;
      fi
