trigger:
  - master
  - release

resources:
  containers:
    - container: b1
      image: lambdaville/go-python:latest

jobs:
  - job: Build_Core
    steps:
      - script: |
          git clone https://github.com/equinor/segyio
          mkdir -p segyio/build
          cd segyio/build
          cmake .. -DBUILD_PYTHON=OFF -DCMAKE_BUILD_TYPE=Release -DEXPERIMENTAL=ON -DBUILD_TESTING=OFF
          sudo make install
        displayName: 'Build segyio'
      - script: |
          sudo pip install scikit-build pybind11
          mkdir build
          cd build
          cmake ../core -DCMAKE_BUILD_TYPE=Release
        displayName: 'Setup seismic-cloud'

      - script: |
          make
        displayName: 'Build seismic-cloud'
        workingDirectory: build

      - script: |
          ctest --output-on-failure
        displayName: 'Test seismic-cloud'
        workingDirectory: build


  - job: Build_API
    container: b1
    variables:
      GOPATH: $(Pipeline.Workspace)/go
    steps:
      - task: CacheBeta@0
        inputs:
          key: $(Agent.OS) | api/go.sum
          path: $(GOPATH)/pkg
        displayName: Cache go.sum

      - script: |
          go mod download
        displayName: 'Download modules'
        workingDirectory: api

      - script: |
          protoc -I ../protos ../protos/core.proto --go_out=plugins=grpc:proto
        displayName: 'Generating grpc client stubs'
        workingDirectory: api

      - script: |
          swag init
        displayName: Generate docs
        workingDirectory: api

      - script: |
          go build
        displayName: 'Build seismic-cloud-api'
        workingDirectory: api
      - script: |
           go test ./...
        workingDirectory: api
        displayName: 'SC-API report test coverage'

      - script: |
          go test -v -coverprofile=coverage.txt -covermode count ./... 2>&1 | go-junit-report > report.xml
          gocov convert coverage.txt > coverage.json
          gocov-xml < coverage.json > coverage.xml
          mkdir -p coverage
          gocov-html < coverage.json > coverage/index.html
        workingDirectory: api
        displayName: 'SC-API report test coverage'

      - script: |
          pytest -v integration.py
        workingDirectory: api/tests
        displayName: 'SC-API integration tests'

      - script: |
          echo 'Deploy'
        condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/release'))
        displayName: 'Deploy seismic-cloud'

      - task: PublishTestResults@2
        inputs:
          testRunner: JUnit
          testResultsFiles: $(System.DefaultWorkingDirectory)/**/report.xml

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: $(System.DefaultWorkingDirectory)/**/coverage.xml
          reportDirectory: $(System.DefaultWorkingDirectory)/**/coverage
