version: '3.0'
services:
  fragment:
    volumes:
      - ./tests/ssl/az.pem:/etc/ssl/certs/az.pem
  manifest:
    volumes:
      - ./tests/ssl/az.pem:/etc/ssl/certs/az.pem
  auth:
    image: lambdaville/no-factor-auth:v0.0.6

  az:
    image: mcr.microsoft.com/azure-storage/azurite:3.7.0
    command: azurite-blob --blobHost 0.0.0.0 --oauth basic --loose --cert /tests/ssl/az.pem --key /tests/ssl/key.pem
    volumes:
      - ./tests/ssl:/tests/ssl
    ports:
      - 10000:10000

  api:
    depends_on:
      - auth
      - az
    environment:
      - AUTHSERVER=http://auth:8089/common
      - ISSUER=https://sts.windows.net/
      - AUDIENCE=https://storage.azure.com
      - AZURE_STORAGE_URL=https://az:10000/{}
      - AZURE_STORAGE_ACCOUNT=devstoreaccount1
      - AZURE_STORAGE_ACCESS_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

    volumes:
      - ./tests/ssl/az.pem:/etc/ssl/certs/az.pem
  test:
    build:
      context: .
      dockerfile: tests/integration/Dockerfile
    depends_on:
      - api
      - az
      - auth
    environment:
      - ISSUER=https://sts.windows.net/
      - AUDIENCE=https://storage.azure.com
      - HOST_ADDR=http://api:8080
      - AUTH_ADDR=http://auth:8089/common
      - AZURE_STORAGE_URL=https://az:10000/{}
      - AZURE_STORAGE_ACCOUNT=devstoreaccount1
      - AZURE_STORAGE_ACCESS_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
