version: '3.0'
services:
  manifest:
    image: oneseismic.azurecr.io/base:${VERSION:-latest}
    build:
      context: .
      dockerfile: core/Dockerfile
    command: [
        "oneseismic-manifest",
        "--source",  "tcp://api:6143",
        "--sink",    "tcp://*:6142",
        "--control", "tcp://0.0.0.0:6141",
        "--fail",    "tcp://0.0.0.0:6140",
    ]
    depends_on:
      - api
  fragment:
    image: oneseismic.azurecr.io/base:${VERSION:-latest}
    build:
      context: .
      dockerfile: core/Dockerfile
    command: [
        "oneseismic-fragment",
        "--source",  "tcp://manifest:6142",
        "--sink",    "tcp://api:6144",
        "--control", "tcp://0.0.0.0:6141",
        "--fail",    "tcp://0.0.0.0:6140",
    ]
    depends_on:
      - api
      - manifest

  api:
    image: oneseismic.azurecr.io/api:${VERSION:-latest}
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - '8080:8080'
    environment:
      - HOST_ADDR=0.0.0.0:8080
      - AUTHSERVER
      - ISSUER
      - AZURE_STORAGE_URL
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_KEY
      - LOG_LEVEL
      - ZMQ_REP_ADDR=tcp://*:6144
      - ZMQ_REQ_ADDR=tcp://*:6143
      - ZMQ_FAILURE_ADDR=tcp://*:6140
