azure-storage-blob
azure-identity
gql
hypothesis
importlib-metadata >= '1.0'; python_version < '3.8'
msal
numpy
pytest
pytest-runner
pybind11
requests
requests_mock
scikit-build
segyio
tqdm
xdg
msgpack
xarray
