[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
azure-storage-blob = "*"
pytest-runner = "*"
hypothesis = "*"
segyio = "*"
azure-storage = "*"
tqdm = "*"
pytest = "*"

[requires]
python_version = "3.6"
